<mat-toolbar class="header w-full sticky top-0 bg-white shadow-md flex items-center justify-between px-4">
  <!-- Logo on the left -->
  <div class="flex-1">
    <h1>
      <a routerLink="" class="text-lg ">MesasMaster</a>
    </h1>
  </div>

  <!-- Centered Navigation -->
  <div class="flex-1 flex justify-center">
    <ul class="flex space-x-4">
      <li *ngIf="!entrou">
        <a mat-button routerLink="/login" class="nav-link">Login</a>
      </li>
      <li *ngIf="!entrou">
        <a mat-button routerLink="/register" class="nav-link">Registo</a>
      </li>

      <li *ngIf="entrou">
        <a mat-button routerLink="/dashboard" class="nav-link">Entrar</a>
      </li>
      <li *ngIf="entrou">
        <button mat-button (click)="logout()" class="nav-link">Logout</button>
      </li>
    </ul>
  </div>

  <!-- Right section (empty or add icons if needed) -->
  <div class="flex-1 text-right">
    <!-- Future icon or user info can go here -->
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
