<mat-card class="w-2/3 mx-auto mt-10 shadow-2xl">
  <mat-card-header class="justify-center">
    <mat-card-title>
      <h1 class="text-2xl text-center font-semibold text-gray-900">
        Gestão de Mesas
      </h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <div class="grid grid-cols-3 gap-4 text-lg p-4">
      <button
        mat-raised-button
        color="warn"
        class="w-full shadow"
        (click)="typeSelectedAction = 1"
      >
        Desativar
      </button>

      <button
        mat-raised-button
        color="primary"
        class="w-full shadow"
        (click)="typeSelectedAction = 2"
      >
        Adicionar
      </button>

      <button
        mat-raised-button
        color="accent"
        class="w-full shadow"
        (click)="typeSelectedAction = 3"
      >
        Alterar
      </button>
    </div>

    <mat-card class="mt-6 bg-gray-200 rounded-lg p-4 min-h-[300px]">
      <ng-container [ngSwitch]="typeSelectedAction">
        <app-remove-mesa (onExit)="goBack()" *ngSwitchCase="1"></app-remove-mesa>
        <app-add-mesa (onExit)="goBack()" *ngSwitchCase="2"></app-add-mesa>
        <app-change-mesa *ngSwitchCase="3"></app-change-mesa>
        <h1 *ngSwitchDefault class="text-xl text-center mt-4 font-medium text-gray-700">
          Escolha uma opção
        </h1>
      </ng-container>
    </mat-card>
  </mat-card-content>
</mat-card>
