<mat-card class="mx-auto mt-10 w-1/2">
  <mat-card-header>
    <div class="mb-4">
      <mat-card-title class="text-2xl text-center text-black">
        Criar Nova Reserva
      </mat-card-title>
    </div>
  </mat-card-header>

  <mat-card-content>
    <form (ngSubmit)="createReserva()">
      <!-- Mesa Selection -->
      <div class="flex space-x-4 mb-4">
        <mat-form-field appearance="fill" class="flex-1">
          <mat-label>Mesa</mat-label>
          <mat-select
            required
            [(value)]="selectedMesaId"
            (selectionChange)="handleSelectMesa($event)"
          >
            <mat-option value="" disabled>Selecione uma mesa</mat-option>
            <mat-option *ngFor="let mesa of mesas" [value]="mesa.id">
              {{ mesa.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        

        <!-- Day Selection -->
        <mat-form-field appearance="fill" class="flex-1">
          <mat-label>Selecione o Dia</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            [min]="today"
            required
            (dateChange)="onDateChange($event)"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker
          >
        </mat-form-field>
      </div>

      <!-- Time Selection (only visible after a day is selected) -->
      <div *ngIf="selectedDate" class="flex space-x-4 mb-4">
        <mat-form-field appearance="fill" class="flex-1">
          <mat-label>Hora Início</mat-label>
          <input
            matInput
            type="time"
            [min]="'00:00'"
            required
            name="horaInicio"
            [(ngModel)]="horaInicio"
          />
        </mat-form-field>

        <mat-form-field appearance="fill" class="flex-1">
          <mat-label>Hora Fim</mat-label>
          <input
            matInput
            type="time"
            [min]="horaInicio"
            required
            name="horaFim"
            [(ngModel)]="horaFim"
          />
        </mat-form-field>
      </div>

      <div class="flex justify-center">
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="text-xl font-semibold px-6 py-3"
        >
          Criar Reserva
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
