<div class="flex justify-center">
  <div
    class="relative container w-3/5 h-3/4 bg-gray-300 shadow-2xl text-white rounded-lg min-h-[75vh]"
  >
    <div class="m-3 ">
      <h1 class="text-center text-2xl font-semibold text-black">Tabela Reservas (Dia)</h1>
      <div class="mb-4 p-4 w-1/3">
        <label for="dataReserva" class="block mb-1 text-lg font-semibold text-black">Selecione o Dia</label>
        <div class="relative">
          <button
            type="button"
            (click)="openCalendar()"
            class="absolute left-3 top-1/2 transform -translate-y-1/2 w-5 h-5 text-white z-10 "
          >
            <svg
              class="w-full h-full"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"/>
            </svg>
          </button>
      
          <!-- Date Input -->
          <input
            #dateInputRef
            type="date"
            id="dataReserva"
            name="dataReserva"
            class="w-full border rounded px-3 py-2 pl-10 bg-gray-400 text-white appearance-none"
            [min]="thisDate"
            (change)="loadDay($event)"  
            [value]="thisDate"
            required
          />
        </div>
      </div>
      <div class="mt-10">
        <table class="min-w-full border-collapse">
          <thead>
            <tr class="bg-gray-300 text-black">
              <th class="border px-4 py-2">User</th>
              <th class="border px-4 py-2">Mesa</th>
              <th class="border px-4 py-2">Data Inicio</th>
              <th class="border px-4 py-2">Data Fim</th>
              <th class="border px-4 py-2">Data Reserva</th>
              <th class="border px-4 py-2">Ação</th>
            </tr>
          </thead>
          <tbody class="text-center" *ngFor="let reserva of reservasSelected">
            <!-- Example row -->
            <tr class="bg-gray-200">
              <td class="border px-4 py-2">
                <button
                  class="cursor-pointer text-white hover:runderline focus:outline-none"
                >
                  {{ reserva.user.name }}
                </button>
              </td>
              <td class="border px-4 py-2">
                <button
                  class="cursor-pointer text-white hover:underline focus:outline-none"
                >
                  {{ reserva.mesa.id }}
                </button>
              </td>
              <td class="border px-4 py-2">
                {{ getFormattedTime(reserva.dataInicio) }}
              </td>
              <td class="border px-4 py-2">
                {{ getFormattedTime(reserva.dataFim) }}
              </td>
              <td class="border px-4 py-2">
                {{ getFormattedTime(reserva.dataReserva) }}
              </td>              
              <td class="border px-4 py-2">
                <button (click)="removeReserva(reserva.id)" class="bg-red-500 cursor-pointer hover:bg-red-600 text-white p-2 rounded-2xl ">Remover</button>
              </td>
            </tr>
            <!-- Additional rows can be added here -->
          </tbody>
          <tr *ngIf="reservasSelected.length === 0">
              <td class="border px-4 py-2 text-center bg-gray-200 text-black" colspan="6">
                Nenhuma Reserva agendada!
              </td>
            </tr>
        </table>
      </div>

    </div>
  </div>
</div>
