<div *ngIf="!isLoading">
    <div class="shadow-2xl relative overflow-x-auto rounded-lg w-2/3 mx-auto mt-10">
        <div
          class="w-full text-sm text-left rtl:text-right bg-gray-300 min-h-[75vh] text-gray-100 dark:text-white shadow-2xl flex flex-col"
        >
          <h1 class="text-center font-semibold text-2xl pb-3 py-3 text-black">
            Gestão de Utilizadores
          </h1>
      
          <div class="flex-1 m-5 rounded-xl bg-gray-400 p-4">
            <div *ngIf="!isLoading">
              <div *ngIf="users && users.length > 0; else noUsers" class="relative overflow-x-auto ">
                <table class=" w-full text-base text-left rtl:text-right text-gray-200 dark:text-white">
                  <thead class="text-base text-white uppercase">
                    <tr>
                      <th scope="col" class="border-2 border-gray-200 px-8 py-4">Id</th>
                      <th scope="col" class="border-2 border-gray-200 px-8 py-4">Email</th>
                      <th scope="col" class="border-2 border-gray-200 px-8 py-4">Nome</th>
                      <th scope="col" class="border-2 border-gray-200 px-8 py-4">Actions</th>
                    </tr>
                  </thead>
                  <tbody class="bg-gray-400">
                    <tr *ngFor="let user of users">
                      <th scope="row" class="px-8 py-4 font-medium border-2 border-gray-200">{{ user.id }}</th>
                      <td class="px-8 py-4 border-2 border-gray-200">{{ user.email }}</td>
                      <td class="px-8 py-4 border-2 border-gray-200">{{ user.name }}</td>
                      <td class="px-8 py-4 border-2 border-gray-200">
                        <button (click)="openEditModal(user)" class="cursor-pointer bg-white hover:bg-gray-300 text-black py-2 mr-1 px-4 rounded">
                          Editar
                        </button>
                        <button (click)="handleDelete(user.id)" class="cursor-pointer bg-red-500 hover:bg-red-700 text-white py-2 px-4 rounded">
                          Desativar
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
      
              <!-- Fallback message when no users are available -->
              <ng-template #noUsers>
                <div class="flex justify-center items-center h-full">
                  <h1 class="text-center text-3xl">Nenhum Utilizador Registado</h1>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
      
</div>

<div *ngIf="isLoading" class="flex items-center justify-center h-[calc(100vh-4rem)] "  >
    <div>
        <app-loader [mode]="'WHITE'"></app-loader>
    </div>
</div>

<div
    *ngIf="isModalOpen"
    class="fixed inset-0 flex items-center justify-center bg-black/50 z-50"
>
    <div class="bg-gray-300 text-black p-6 rounded-lg shadow-lg w-1/3">
        <h2 class="text-xl  mb-4">Editar Utilizador</h2>
        <form (ngSubmit)="saveChanges()">
            <div class="mb-4">
                <label for="email" class="block text-sm font-medium">Email</label>
                <input
                    type="email"
                    id="email"
                    *ngIf="selectedUser" [(ngModel)]="selectedUser.email"
                    name="email"
                    class="w-full mt-1 p-2 bg-gray-400 text-gray-200 rounded border border-gray-400"
                />
            </div>
            <div class="mb-4">
                <label for="nome" class="block text-sm font-mediusm">Nome</label>
                <input
                    type="text"
                    id="nome"
                    *ngIf="selectedUser" [(ngModel)]="selectedUser.name"
                    name="nome"
                    class="w-full mt-1 p-2 bg-gray-400 text-gray-200 rounded border border-gray-400"
                />
            </div>
            <div class="mb-4">
                <label for="newpassword" class="block text-sm font-mediusm">Password <span class="pl-2">*Deixe em branco caso não queira alterar</span></label>
                <input
                    type="password"
                    id="newpassword"
                    *ngIf="selectedUser" [(ngModel)]="newPasswordForUser"
                    name="newpassword"
                    class="w-full mt-1 p-2 bg-gray-400 text-gray-200 rounded border border-gray-400"
                />  
            </div>
            <div class="mb-6">
                <div class="flex items-center">
                    <input
                        type="checkbox"
                        id="admin"
                        name="admin"
                        *ngIf="selectedUser" [(ngModel)]="selectedUser.isAdmin"
                        class="w-5 h-5 text-blue-500 bg-gray-700 border-gray-600 rounded focus:ring-blue-500 focus:ring-2"
                    />
                    <span class="ml-2 text-gray-800">Tornar este utilizador administrador</span>
                </div>
            </div>
            <div class="flex items-center justify-between mb-1">
                
                <!-- Buttons on the Right -->
                <div class=" flex space-x-2 mt-auto">
                    <button
                        type="button"
                        class="cursor-pointer bg-gray-600 hover:bg-gray-700 text-white py-2 px-4 rounded"
                        (click)="closeModal()"
                    >
                        Cancelar
                    </button>
                    <button
                        type="submit"
                        class="cursor-pointer bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded"
                        
                    >
                        Salvar
                    </button>
                </div>
            </div>   
        </form>
    </div>
</div>