<div class="mt-5 flex flex-col items-center space-y-4">
    <!-- Combobox (Material Select) -->
    <div class="w-full max-w-md">
      <mat-form-field class="w-full">
        <mat-label>Selecione uma Mesa</mat-label>
        <mat-select
          [(ngModel)]="selectedMesaId"
          (selectionChange)="onMesaSelect()"
          id="mesaSelect"
          class=" text-white"
        >
          <mat-option *ngFor="let mesa of mesas" [value]="mesa.id">
            Mesa {{ mesa.id }} - {{ mesa.ativo ? 'Ativo' : 'Inativo' }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  
    <!-- Desativar / Ativar Button -->
    <div class="flex space-x-4">
      <button
        *ngIf="selectedMesaIsActive"
        mat-raised-button
        color="warn"
        class="text-2xl py-2 px-4"
        (click)="handleDesativarMesa()"
      >
        Desativar
      </button>
      <button
        *ngIf="!selectedMesaIsActive"
        mat-raised-button
        color="primary"
        class="text-2xl py-2 px-4"
        (click)="handleAtivarMesa()"
      >
        Ativar
      </button>
    </div>
  </div>
  