@import "tailwindcss";

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  
  input[type="date"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #4c51bf;
  border-radius: 8px;
  border: 2px solid #2d3748;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #5a67d8;
}
