@import "tailwindcss";

input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }
  
  input[type="date"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
  }
  

.custom-scroll::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #2d3748;
  border-radius: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #4c51bf;
  border-radius: 8px;
  border: 2px solid #2d3748;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #5a67d8;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.custom-bg {
  background-color: rgba(0, 0, 0, 0.09);
}

/* Targeting the Material Raised Button with the 'warn' color */
.mat-raised-button.mat-warn {
  background-color: #f44336 !important; /* Red color */
  color: white !important; /* Text color */
  border-radius: 4px; /* Optional: keep rounded corners */
}

.mat-raised-button.mat-warn:hover {
  background-color: #d32f2f !important; /* Darker red for hover */
}
