<div class="min-h-screen flex flex-col bg-gray-600 text-gray-200">
    <div class="flex flex-1">
        <!-- Sidebar -->
        <aside class="w-1/6 bg-gray-600 p-4">
            <ul class="space-y-2">
                <li>
                    <h1 class="text-2xl mb-5">Dashboard</h1>
                </li>
                <li>
                    <button
                        (click)="selectedPage = 0"
                        [ngClass]="{
                            'bg-gray-700 text-white rounded-xl': selectedPage === 0,
                            'hover:bg-gray-700 hover:rounded-xl': selectedPage !== 0
                        }"
                        class="cursor-pointer w-full text-left block p-2 text-gray-200"
                    >
                        Mesas
                    </button>
                </li>
                <li>
                    <button
                        (click)="selectedPage = 1"
                        [ngClass]="{
                            'bg-gray-700 text-white rounded-xl': selectedPage === 1,
                            'hover:bg-gray-700 hover:rounded-xl': selectedPage !== 1
                        }"
                        class="cursor-pointer w-full text-left block p-2 text-gray-200"
                    >
                        Tabela Reservas
                    </button>
                </li>
                <li>
                    <button
                        (click)="selectedPage = 2"
                        [ngClass]="{
                            'bg-gray-700 text-white rounded-xl': selectedPage === 2,
                            'hover:bg-gray-700 hover:rounded-xl': selectedPage !== 2
                        }"
                        class="cursor-pointer w-full text-left block p-2 text-gray-200"
                    >
                        Estatisticas
                    </button>
                </li>
                <li>
                    <button
                        (click)="selectedPage = 3"
                        [ngClass]="{
                            'bg-gray-700 text-white rounded-xl': selectedPage === 3,
                            'hover:bg-gray-700 hover:rounded-xl': selectedPage !== 3
                        }"
                        class="cursor-pointer w-full text-left block p-2 text-gray-200"
                    >
                        Utilizadores
                    </button>
                </li>
                <li>
                    <button
                        (click)="selectedPage = 4"
                        [ngClass]="{
                            'bg-gray-700 text-white rounded-xl': selectedPage === 4,
                            'hover:bg-gray-700 hover:rounded-xl': selectedPage !== 4
                        }"
                        class="cursor-pointer w-full text-left block p-2 text-gray-200"
                    >
                        Nova Reserva
                    </button>
                </li>
            </ul>
        </aside>

        <!-- Main Content -->
        <main class="w-5/6 bg-gray-500 p-6">
            <div [ngSwitch]="selectedPage">
                <app-mesas *ngSwitchCase="0"></app-mesas>
                <app-calendario *ngSwitchCase="1">Calendário Content</app-calendario>
                <div *ngSwitchCase="2">Estatisticas Content</div>
                <app-utilizadores *ngSwitchCase="3"></app-utilizadores>
                <app-add-reserva *ngSwitchCase="4"></app-add-reserva>
                <div *ngSwitchDefault>Selecione uma opção</div>
            </div>
        </main>
    </div>
</div>