<div
  *ngIf="!isLoading"
  class="min-h-screen flex flex-col bg-gray-600 text-gray-200"
>
  <div class="flex flex-1">
    <!-- Sidebar -->
    <aside class="w-full sm:w-1/6 bg-gray-300 p-4 flex flex-col justify-between h-screen overflow-y-auto">
      <h1 class="text-3xl text-center  mb-6 mt-2 text-black">Dashboard</h1>
      
      <mat-list class="space-y-2 flex-1">
        <mat-list-item>
          <div
            (click)="selectedPage = 0"
            [ngClass]="{
              'bg-gray-300 text-white rounded-3xl': selectedPage === 0,
              'hover:bg-gray-300 hover:rounded-3xl': selectedPage !== 0
            }"
            class="cursor-pointer w-full text-left text-gray-200"
          >
            <button mat-button class="w-full text-left">Mesas</button>
          </div>
        </mat-list-item>
      
        <mat-list-item *ngIf="isAdmin">
          <div
            (click)="selectedPage = 1"
            [ngClass]="{
              'bg-gray-300 text-white rounded-3xl': selectedPage === 1,
              'hover:bg-gray-300 hover:rounded-3xl': selectedPage !== 1
            }"
            class="cursor-pointer w-full text-left text-gray-200"
          >
            <button mat-button class="w-full text-left">Tabela Reservas</button>
          </div>
        </mat-list-item>
      
        <mat-list-item *ngIf="isAdmin">
          <div
            (click)="selectedPage = 2"
            [ngClass]="{
              'bg-gray-300 text-white rounded-3xl': selectedPage === 2,
              'hover:bg-gray-300 hover:rounded-3xl': selectedPage !== 2
            }"
            class="cursor-pointer w-full text-left text-gray-200"
          >
            <button mat-button class="w-full text-left">Estatísticas</button>
          </div>
        </mat-list-item>
      
        <mat-list-item *ngIf="isAdmin">
          <div
            (click)="selectedPage = 3"
            [ngClass]="{
              'bg-gray-300 text-white rounded-3xl': selectedPage === 3,
              'hover:bg-gray-300 hover:rounded-3xl': selectedPage !== 3
            }"
            class="cursor-pointer w-full text-left text-gray-200"
          >
            <button mat-button class="w-full text-left">Utilizadores</button>
          </div>
        </mat-list-item>
      
        <mat-list-item>
          <div
            (click)="selectedPage = 4"
            [ngClass]="{
              'bg-gray-300 text-white rounded-3xl': selectedPage === 4,
              'hover:bg-gray-300 hover:rounded-3xl': selectedPage !== 4
            }"
            class="cursor-pointer w-full text-left text-gray-200"
          >
            <button mat-button class="w-full text-left">Nova Reserva</button>
          </div>
        </mat-list-item>
      
        <mat-list-item *ngIf="isAdmin">
          <div
            (click)="selectedPage = 5"
            [ngClass]="{
              'bg-gray-300 text-white rounded-3xl': selectedPage === 5,
              'hover:bg-gray-300 hover:rounded-3xl': selectedPage !== 5
            }"
            class="cursor-pointer w-full text-left text-gray-200"
          >
            <button mat-button class="w-full text-left">Gerir Mesas</button>
          </div>
        </mat-list-item>
      
        <mat-list-item>
          <div
            (click)="selectedPage = 6"
            [ngClass]="{
              'bg-gray-300 text-white rounded-3xl': selectedPage === 6,
              'hover:bg-gray-300 hover:rounded-3xl': selectedPage !== 6
            }"
            class="cursor-pointer w-full text-left text-gray-200"
          >
            <button mat-button class="w-full text-left">Minhas Reservas</button>
          </div>
        </mat-list-item>
      </mat-list>
      
      
      <div class="mt-6">
        <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 sm:space-x-4 px-4 sm:px-0">
          <button
            mat-raised-button
            color="warn"
            (click)="logout()"
            class="w-full sm:w-1/2 py-2 rounded-lg shadow-xl"
          >
            Sair
          </button>
    
          <button
            mat-raised-button
            color="primary"
            routerLink="/"
            class="w-full sm:w-1/2 py-2 rounded-lg shadow-xl"
          >
            Voltar
          </button>
        </div>
      </div>
      
    </aside>

    <!-- Main Content -->
    <main class="w-5/6 bg-gray-200 p-6">
      <div [ngSwitch]="selectedPage">
        <app-mesas *ngSwitchCase="0"></app-mesas>
        <ng-container *ngIf="isAdmin">
          <app-calendario *ngSwitchCase="1"></app-calendario>
        </ng-container>
        <ng-container *ngSwitchCase="2">
          <app-statistics *ngIf="isAdmin"></app-statistics>
        </ng-container>
        <ng-container *ngIf="isAdmin">
          <app-utilizadores [userId]="userData?.id ?? 0" *ngSwitchCase="3"></app-utilizadores>
        </ng-container>
        <app-add-reserva [userId]="userData?.id ?? 0" *ngSwitchCase="4"></app-add-reserva>
        <ng-container *ngIf="isAdmin">
          <app-gerir-mesa *ngSwitchCase="5"></app-gerir-mesa>
        </ng-container>
        <app-minhas-reservas [userId]="userData?.id ?? 0" *ngSwitchCase="6"></app-minhas-reservas>
        <div
          *ngSwitchDefault
          class="justify-center items-center flex text-3xl font-semibold"
        >
          Selecione uma opção
        </div>
      </div>
    </main>
  </div>
</div>
<div
  *ngIf="isLoading"
  class="flex items-center justify-center h-screen bg-gray-200"
>
  <app-loader></app-loader>
</div>
