<div class="flex flex-col items-center p-6 rounded-lg text-white">
    <h1 class="text-2xl font-semibold text-black mb-4">Criar Mesa</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="w-full max-w-md space-y-4">
  
      <!-- Limite de Tempo (Minutos) -->
      <div>
        <mat-form-field class="w-full">
          <mat-label>Limite de Tempo (Minutos)</mat-label>
          <input
            matInput
            formControlName="tempo"
            id="timeLimit"
            type="number"
            placeholder="Digite o limite de tempo"
          />
        </mat-form-field>
      </div>
  
      <!-- Local X / Y -->
      <div class="grid grid-cols-2 gap-4">
        <div>
          <mat-form-field class="w-full">
            <mat-label>Local X</mat-label>
            <input
              matInput
              formControlName="localX"
              id="localX"
              type="number"
              placeholder="Digite a posição X"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="w-full">
            <mat-label>Local Y</mat-label>
            <input
              matInput
              formControlName="localY"
              id="localY"
              type="number"
              placeholder="Digite a posição Y"
            />
          </mat-form-field>
        </div>
      </div>
  
      <!-- Capacidade de Usuários -->
      <div>
        <mat-form-field class="w-full">
          <mat-label>Capacidade de Utilizadores</mat-label>
          <input
            matInput
            formControlName="cap"
            id="capUsers"
            type="number"
            placeholder="Digite a capacidade de utilizadores"
          />
        </mat-form-field>
      </div>
  
      <!-- Submit Button -->
      <div>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          class="w-full text-white py-2 px-4 rounded"
        >
          Criar Mesa
        </button>
      </div>
  
      <div>
        <h1 class="text-sm text-gray-400">* A localização tem de ser unica!</h1>
      </div>
    </form>
  </div>
  